<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maung Htike Portfolio</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" v />
    <style>
        * {
            scroll-behavior: smooth;
            font-family: serif;
        }
    </style>
</head>

<body>
    <nav class="uk-width-1-1\@s uk-background-cover" uk-navbar style="background-color: #222222;">
        <div class="uk-navbar-left">
            <ul class="uk-margin-small-left uk-navbar-nav">
                <li><a href="/"><img src="./assets/logo.png" alt="website logo" width="100px" /></a></li>
            </ul>
        </div>

        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-margin-medium-right">
                <a href="#"><span uk-icon="icon: menu; ratio: 1.5" class="uk-text-muted"></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/experiences">Experiences</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="./assets/resume.pdf" target="_blank">Resume</a>
                        </li>
                        <li><a href="https://github.com/Sfzmango" target="_blank"><span
                                    uk-icon="icon: github-alt; ratio: 1.5"></span></a></li>
                        <li><a href="https://twitter.com/Sfzm_" target="_blank"><span
                                    uk-icon="icon: twitter; ratio: 1.5"></span></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/maung-htike-482b4b143/" target="_blank"><span
                                    uk-icon="icon: linkedin; ratio: 1.5"></span></a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>


    <div class=" uk-section uk-background-cover uk-comment-primary"
        style="background-image: url('./assets/background.png');">

        <!-- body -->
        {{{body}}}

        <!-- footer -->
        <div class="uk-container uk-margin-large-top uk-text-center" style="color:black;">
            <p>- © Maung Htike, 2022 MIT. Made using the UIkit CSS framework -</p>
        </div>
    </div>



    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
</body>

</html>