<h1 class="uk-text-center uk-margin-medium-top uk-margin-large-bottom"
    style="font-family: serif; color: #585858; text-shadow: 1px 1px #000000;">
    Here are some of the thing's I have
    worked on in the past:</h1>

<div class="uk-child-width-expand@s uk-text-center uk-margin-large-bottom" uk-grid>

    <!-- resume card -->
    <div class="uk-width-auto uk-align-center">
        <a href="https://docs.google.com/document/d/1dyVGCE0wPTdGDGQ02Lz4uEjZi3x9I63nLqnGaqwztl0/edit?usp=sharing"
            style="text-decoration: none;">
            <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge  uk-border-rounded">
                <div class="uk-card-media-top">
                    <img src="./assets/resume.png" width="600" height="500" alt="resume picture"
                        style="border-top-left-radius: 1%; border-top-right-radius: 1%;">
                </div>
                <div class="uk-card-body">
                    <h1 class="uk-card-title">Resume</h1>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="uk-container">

    <!-- Work Experience -->
    <h1 class="uk-text-center uk-margin-medium-top uk-margin-medium-bottom"
        style="font-family: serif; color: #585858; text-shadow: 1px 1px #000000;">Work Experience:
    </h1>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large-bottom uk-box-shadow-hover-xlarge"
        uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="./assets/sep.JPG" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h1>Solar Sales Representative</h1>
                <h3 class="uk-card-title">Solar Energy Partners - North Bay, CA <br>
                    October 2020 to Present
                </h3>
                </h3>
                <p>I am currently working as an 1099 independent contractor whose job responsibilities are to
                    find possible qualifying households that might qualify for solar and hopefully direct them
                    into going green while also saving them money on their electricity bill. I work with the
                    customer to try to fulfill their needs and goals for solar while also not jeopardizing my
                    commission to a loss. Not only do I have to generate leads, but I also have to prepare a
                    design proposal with our upstream and downstream partners for the customer and negotiate
                    with them to close a deal that they are happy with. After an agreement has been signed off,
                    I follow up with the customers and our partners occasionally for status updates and, if
                    possible, to expedite them up the schedule until the solar system has been given “Permission
                    To Operate.”
                </p>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large-bottom uk-border-rounded uk-box-shadow-hover-xlarge"
        uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="./assets/mil.JPG" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h1>2171-Electro-Optical Ordinance Technician</h1>
                <h3 class="uk-card-title">United States Marine Corps - San Jose, CA <br>
                    June 2018 to Present
                </h3>
                <p class="uk-text-muted">Currently I'm a reservist LCPL in the Marine Corps as an
                    2171-Electro-Optical Ordnance
                    Repairer. In better terms I worked on anything optical related gear. This range from night
                    vision cameras, thermals, and targeting systems on a LAV, JAVELIN, SABER, Howitzer, as well
                    as many more military equipment. Overall my primary duties was to inspect, take inventory,
                    to maintain,and if needed, repair the specified gear utilizing atechnical manual.
                </p>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large-bottom uk-border-rounded uk-box-shadow-hover-xlarge"
        uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="./assets/tech.PNG" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h1>Solar Test Technician</h1>
                <h3 class="uk-card-title">PVEL - Berkeley, CA
                    <br>
                    June 2019 to July 2020
                </h3>
                <p class="uk-text-muted">Before the COVID-19 pandemic I worked as a Solar Lead Test
                    Technician
                    (night shift) at PV
                    Evolution Labs. In simple terms, my duties involved leading a small group of test
                    technicians at night to put solar panels through various different tests which measured
                    their efficiency in a varity of aspects. For example, in one of the tests, we used a
                    dremel
                    to expose the backside of a solar panel and solder certain joints together to isolate
                    individual cells. Occasionally I worked with upstream and downstream customers to help
                    facilitate the logistics side of the testing process. My company would send me on work
                    related trips to places such as Texas to inspect and test the solar plant’s solar
                    panels.
                </p>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-box-shadow-hover-xlarge"
        uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="./assets/digitalmedia.JPG" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h1>Digital Media Intern</h1>
                <h3 class="uk-card-title">Board of Directors - Redwood City, CA <br>
                    September 2017 to June 2018
                </h3>
                <p class="uk-text-muted">I interned for David J. Canepa, the District 5 Supervisor of San Mateo
                    County. I handled things in the office occasionally, but I mostly handled media related jobs
                    such as taking pictures or videos of events and also editing them using software such as
                    Adobe Premiere.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Skills and education -->
<div class="uk-container">
    <h1 class="uk-text-center uk-margin-large-top uk-margin-medium-bottom"
        style="font-family: serif; color: #585858; text-shadow: 1px 1px #000000;">Skills and
        Education:</h1>

    <!-- top row -->
    <div class="uk-child-width-expand@s uk-text-center uk-margin-large-bottom" uk-grid>

        <!-- technical skills -->
        <div>
            <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-border-rounded">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Technical Skills I Have Learned:</h3>
                    <p class="uk-text-muted">
                    <ul uk-accordion="multiple: true">
                        <li>
                            <a class="uk-accordion-title">Full Stack Development</a>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-divider">
                                    <li>Pseudocode</li>
                                    <li>Visual Studio Code</li>
                                    <li>HTML5</li>
                                    <li>
                                        <h4><u>CSS3</u></h4>
                                        <ul class="uk-list">
                                            <li>Bootstrap</li>
                                            <li>UIkit</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4><u>JavaScript</u></h4>
                                        <ul class="uk-list">
                                            <li>ES6</li>
                                            <li>Web, Server, & Third Party APIs</li>
                                            <li>Fetch</li>
                                            <li>jQuery</li>
                                            <li>Node.js</li>
                                            <li>Express</li>
                                            <li>Sequelize</li>
                                            <li>Handlebars</li>
                                            <li>ESLint</li>
                                            <li>Bcrypt</li>
                                            <li>Mongoose</li>
                                        </ul>
                                    </li>
                                    <li>MySQL</li>
                                    <li>MongoDB</li>
                                    <li>Chrome DevTools</li>
                                    <li>Git/GitHub</li>
                                    <li>Insomnia</li>
                                    <li>Heroku</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title">Sales</a>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-divider">
                                    <li>Building Rapport</li>
                                    <li>Understanding a product</li>
                                    <li>Understanding which customers are the low hanging fruit</li>
                                    <li>Understanding a customer's needs</li>
                                    <li>Understanding how a product can tie into a customer's needs</li>
                                    <li>Closing</li>
                                    <li>Logistics after a close</li>
                                    <li>Mentoring</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title">Solar Lab Test Technician Lead</a>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-divider">
                                    <li>How to conduct reliability tests for solar equipment</li>
                                    <li>Using a technical manual</li>
                                    <li>Being a team leader</li>
                                    <li>Figuring out what needs to be done</li>
                                    <li>Making sure that everybody in the team is doing well but also completing
                                        the tasks at hand</li>
                                    <li>Teaching other team members how to do something if they are not
                                        proficient at it
                                    </li>
                                    <li>Conveying a shift summary for the morning shift team</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <!-- soft skills -->
        <div>
            <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-border-rounded">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Soft Skills:</h3>
                    <p class="uk-text-muted">
                    <ul class="uk-list uk-list-divider">
                        <li>Good listening and communication skills</li>
                        <li>Multilingual - Burmese & English</li>
                        <li>Honest, respectful of others, and able to work well in teams.</li>
                        <li>Can grasp new concepts quickly.</li>
                        <li>Ability to work under pressure.</li>
                        <li>Good at suggesting tips or tricks that can help assist other team members to self
                            improve</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- bottom row -->
<div class="uk-container">

    <div class="uk-child-width-expand@s uk-text-center uk-margin-large-bottom" uk-grid>

        <div>
            <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-border-rounded">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Certficates:</h3>
                    <p class="uk-text-muted">
                    <ul class="uk-list">
                        <li>
                            <div>
                                <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge">
                                    <div class="uk-card-media-top">
                                        <img src="https://media-exp1.licdn.com/dms/image/C4E2DAQFLERNoknd3vg/profile-treasury-image-shrink_800_800/0/1602125896806?e=1653685200&v=beta&t=-guv7_flklIoGnubaHrb9Xqzz8Hu2dhyg3zN22WgvWM"
                                            width="1800" height="1200" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Diploma, 2171-Electro-Optical Ordinance
                                            Repairer</h3>
                                        <p class="uk-text-muted">2018 - 2019</p>
                                        <p>Certified technician for all things relating with optical equipment
                                            in the Marine Corps</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge">
                                    <div class="uk-card-media-top">
                                        <!-- <img src="https://media-exp1.licdn.com/dms/image/C4E2DAQFLERNoknd3vg/profile-treasury-image-shrink_800_800/0/1602125896806?e=1653685200&v=beta&t=-guv7_flklIoGnubaHrb9Xqzz8Hu2dhyg3zN22WgvWM"
                                                    width="1800" height="1200" alt=""> -->
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">AS-T, Business Administration</h3>
                                        <p class="uk-text-muted">Skyline College, May 2022</p>
                                        <!-- <p>

                                                </p> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-border-rounded">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Education:</h3>
                    <p class="uk-text-muted">
                    <ul class="uk-list uk-list-divider">
                        <li><a href="https://extension.berkeley.edu/category/courseCategoryCertificateProfile.do?method=load&certificateId=32408422"
                                target="_blank">UC
                                Berkeley Extension, Berkeley, CA </a></li>
                        <li><a href="https://catalog.skylinecollege.edu/current/programs/business-administration-for-transfer-as-t.php"
                                target="_blank">Skyline
                                College, San Bruno, CA</a></li>
                        <li><a href="https://www.tecom.marines.mil/Units/Training-Command/Detachments/Marine-Corps-Detachment-Fort-Lee/3rd-Platoon/"
                                target="_blank">United
                                States Army Ordnance School, Fort Lee, VA</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>